<h1>Editar departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Show this departamento", @departamento, class: "btn btn-default" %>
  <%= link_to "Back to departamentos", departamentos_path, class: "btn btn-default" %>
</div>
